<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Big Bet Sports</title>
  <link rel="icon" type="image/x-icon" href="/images/money-money-money.jpg">
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Big Bet Sports Club</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <li><a href="/dashboard">Home</a></li>
        <li><a href="/" id="logout">Logout</a></li>
        {{else}}
        <li><a href="/login">Login</a></li>
        {{/if}}
      </ul>
    </div>
      </nav>
    
    </header>
    <main class="card-panel cyan darken-2">
        <div class="card-panel cyan darken-4">
      <!-- Render the sub layout -->
      {{{ body }}}
      </div>
    </main>
    <footer>
          <footer class="page-footer red lighten-2">
          <div class="footer-copyright">
            <div class="container">
            © 2022 Copyright
            </div>
          </div>
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
