<!-- Loop over each object in the leagues array -->
{{#each leagues as |league| }}
<div class="card-panel teal lighten-2 z-depth-5">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/league/{{league.id}}" class="black-text">{{league.name}}</a>
    </h2>
  </div>
</div>
{{/each}}
