<!-- Loop over each object in the matches array -->
{{#each matches as |match| }}
  <div class="card-content teal lighten-2 z-depth-4">
    <h2>
      <a href="/match/{{match.id}}" class="black-text">{{away_team}} at {{home_team}}</a>
    </h2>
  </div>
{{/each}}
