<!-- Loop over each object in the matches array -->
{{#each matches as |match| }}
<div class="row mb-4 match">
  <div class="col-md-5">
    <h2>
      <a href="/match/{{match.id}}">{{away_team}} at {{home_team}}</a>
    </h2>
  </div>
</div>
{{/each}}
